@import "~Styles/core.sass"

.headerContainer
  height: 4em

.header
  padding: .5em
  left: 0
  right: 0
  height: inherit
  z-index: $zindex-fixed
  background-color: $tertiary
  border-bottom: 2px solid $secondary

  h2
    color: $primary