@import "~Styles/core.sass"

.header
  position: fixed
  padding: .5em
  left: 0
  right: 0
  z-index: $zindex-fixed
  background-color: $tertiary
  border-bottom: 2px solid $secondary

  h2
    color: $primary