$brand-orange: #FF9E01
$brand-beige: #F4F5E7
$brand-brown: #655643
$brand-red: #BF4D28
$brand-turquoise: #80bca3
//$brand-turquoise: #0fffd3

$primary: $brand-orange
$secondary: $brand-red

@import "~Styles/brand-primary.sass"
@import "~Styles/brand-secondary.sass"
@import "~Styles/brand-base.sass"
@import "~Styles/brand-accent.sass"
@import "~Styles/bootstrap-mixins.scss"

$ErrorLevels: error, warning, info
$ErrorLevelColors: (error: $brand-red, warning: $brand-orange, info: $accent)