$brand-orange: #FF9E01
$brand-beige: #F4F5E7
$brand-brown: #655643
$brand-red: #BF4D28
$brand-turquoise: #80bca3
//$brand-turquoise: #0fffd3

$primary: $brand-orange
$secondary: $brand-red
$tertiary: $brand-brown
$quaternary: $brand-turquoise
$brand-base: $brand-beige

@import "~Styles/bootstrap-mixins.scss"

$ErrorLevels: error, warning, info
$ErrorLevelColors: (error: map-get($theme-colors, danger), warning: map-get($theme-colors, warning), info: map-get($theme-colors, info))
