{
  "presets": ["react", "env", "stage-2"],

  "env": {
    "test": {
      "plugins": [
        "transform-async-to-generator",
        "transform-es2015-modules-commonjs",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-class-properties"
      ]
    }
  }
}