@import "~Styles/core.sass"
@import "~Styles/Feedback/errorColor.mixin.sass"
@import "~Styles/Feedback/warningColor.mixin.sass"
@import "~Styles/Feedback/infoColor.mixin.sass"

.errorStateMessage
  //display: none

.errorMessage
  @include errorColor

.errorInputText
  @include errorColor

.errorInput
  border-bottom: 1px solid map-get($theme-colors, "danger")


.warningMessage
  @include warningColor

.warningInputText
  @include warningColor

.warningInput
  border-bottom: 1px solid map-get($theme-colors, "warning")

.infoMessage
  @include infoColor

.infoInputText
  @include infoColor

.infoInput
  border-bottom: 1px solid map-get($theme-colors, "info")