@import "~Styles/core.sass"
@import "~Styles/Feedback/errorColor.mixin.sass"
@import "~Styles/Feedback/warningColor.mixin.sass"
@import "~Styles/Feedback/infoColor.mixin.sass"


@each $level in error, warning, info
  $color: map-get($theme-colors, #{$level})

  .#{$level}-text
    color: #{$color}

  .#{$level}-input
    color: #{$color}
