@import "~Styles/core.sass"

@each $level in $ErrorLevels
  $color: map-get($ErrorLevelColors, #{$level})

  .#{$level}-text
    color: #{$color} !important

  .#{$level}-input
    border-bottom: 1px solid #{$color} !important

.textInputFeedback
  height: 1em