@import "~Styles/theme.sass"

.mealCard
  border-bottom: 4px solid $secondary
  box-shadow: 7px 7px 5px -4px rgba(0,0,0,0.55)
  transition: 0.5s

  &:hover
    text-decoration: none
    color: initial
    border-bottom: 4px solid $tertiary

  h2
    color: $secondary

  h4
    color: $secondary

  span
    color: $quaternary

  button
    color: $brand-base

    &hover
      background-color: $tertiary